<launch>

    <arg name="user_debug" default="true"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find go1_description)/xacro/robot.xacro'
            DEBUG:=$(arg user_debug)"/>

    <!-- for higher robot_state_publisher average rate-->
    <!-- <param name="rate" value="1000"/> -->

    <!-- send fake joint values -->
<!--     <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>
 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find go1_description)/launch/check_joint.rviz"/>

    <arg name="use_gui" default="true" doc="Should the joint_state_publisher use a GUI for controlling joint states" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" unless="$(arg use_gui)" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" if="$(arg use_gui)" />



</launch>